body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    margin: 20px auto;
    background-color: #f4f4f4;
    color: #333;
    max-width: 800px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

h2 {
    transform-origin: left; /* Set the transformation origin to the left */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect for both hover and non-hover states */
}

h2:hover {
    transform: scale(1.02);
}

li {
    padding: 4px;
}

.logo {
    text-align: center;
    margin: 30px;
}