body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.4;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: auto; /* Auto margin horizontally to center the container */
    padding: 20px;
    background-color: #ffffff; /* Set a background color for the container if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for the container */
}

a {
    text-decoration: none;
}

h2 {
    transform-origin: left; /* Set the transformation origin to the left */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect for both hover and non-hover states */
}

h2:hover {
    transform: scale(1.02);
}

li {
    padding: 4px;
}

.logo {
    text-align: center;
    margin: 30px;
}