@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/source-code-pro/SourceCodePro-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }
  
body {
    /* font-family: 'Source Code Pro'; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.4;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: auto; /* Auto margin horizontally to center the container */
    padding: 20px;
    background-color: #ffffff; /* Set a background color for the container if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for the container */
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2, h3 {
    color: red; /* Initial color */
}

li {
    padding: 4px;
}

.logo {
    text-align: center;
    margin: 90px;
    margin-top: 40px;
}

.logo-img {
    -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.install-icons {
    text-align: center; /* Horizontally center the text within the container */
    margin: 40px;
}

.button-link {
    display: inline-block;
    margin: 4px;
    padding: 5px 20px; /* Adjust the padding to control the button size */
    background-color: #ff0000; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
    transition: transform 0.3s;
}

.button-link:hover {
    background-color: #ff3333; /* New background color on hover */
    color: #ffffff; /* New text color on hover */
    transform: scale(1.1);
}